body{
    padding-top: 20px;
}
hr{
    height: 3px;
    background-color: gray;
    border: none;
    width: 100%;
}
.table td,th{
    border: 1px solid #ddd;
}
#logout-btn{
    position: absolute;
    right: 20px;
    top: 20px;
}
#myinfo-btn{
    position: absolute;
    top: 20px;
    left: 20px;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
}
.center.fixed{
    position: fixed;
}
.logo{
    display: block;
    margin: 0 auto;
}
.user-form{
    width: 320px;
    margin: 0 auto;
}
.form-signin {
    width: 320px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.mg_10 { margin-bottom: 20px !important;  }

.hint-error { color: rgba(255, 0, 0, 0.82); font-size: 11px; font-weight: bold; }
.fixed-form-footer{
    position: fixed;
    background: white;
    box-shadow: 0px -2px 10px #ddd;
    -moz-box-shadow: 0px -2px 10px #ddd;
    -ms-box-shadow: 0px -2px 10px #ddd;
    -webkit-box-shadow: 0px -2px 10px #ddd;
    padding: 20px;
    border-top: 2px solid #ddd;
    width: 100%;
    height: 75px;
    bottom: 0;
    left: 0;
    margin: 0;
}
.boxon-webforms{
    padding-bottom: 120px;
}
.modal-header .modal-title{
    text-align: center;
}
.modal-dialog{
    width: 320px;
}
.modal-footer{
    position: relative;
left: 50%;
display: inline-block;
border-top: none;
margin-left: -65px;
}