<span style='color: #000' title='Frames'>  1235</span><span style='color: #009' title='Memory'>  43264.00 KB</span><span style='color: #900' title='Time'>  22163.68 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />